* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.subtitle {
  color: #777;
  padding: 0.5rem;
  text-align: center;
}

.calc {
  &__box {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
  }

  &__header {
    color: #3333aa;
    background-color: #eee;
    text-align: center;
    padding: 1rem;
  }

  &__list {
    padding: 1rem;

    & li {
      margin-left: 1rem;
      color: #559933;
      cursor: pointer;
      text-decoration: underline;

      &::marker {
        color: #333;
      }

      &:hover {
        color: darken(#559933, 10%);
      }
    }
  }

  &__floors {
    display: flex;
  }

  &__input {
    display: flex;
    text-align: center;
    outline: none;
    border: 1px solid #aaa;
    padding: 0.5rem;
    margin: 1rem auto;
  }

  &__length {
    display: flex;
    align-items: center;
  }
}

.buttons {
  &__box {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0 15px;
  }

  &__btn {
    text-align: center;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 0.5rem;
    width: 100px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }

    &_disabled {
      cursor: not-allowed;
      background-color: #777;
      border: none;

      &:hover {
        background-color: #777;
      }
    }
  }
}

.response {
  &__body {
    width: 100%;
    color: #3333aa;
    text-align: center;
    padding: 1rem;

    &_error {
      color: red;
    }
  }
}
